//
   Created by z on 6/13/17.

block content
    #AboutMe.container
        .row
            .col-md-6.col-sm-12
                img.displaypic(src='/images/mypik.jpg', alt='factory')
            .aboutme.col-md-6.col-sm-12
                h1.text-style About Me
                h2.text-style My name is Avinash. I am a Web developer and I live in California FremontCity but I call many places home. A palm reader in India once told me I will live the life of a magical gypsy and it's important for the world that I tell the stories of the many people I encounter on my journeys. That's what I am doing.