//
   Created by z on 6/13/17.
extends layout

block content
    .container.adjust
        .row
            .col-md-6.col-sm-6.col-xs-12
                h1.about INSERT IMAGE HERE
            .col-md-6.col-sm-6.col-xs-12
                h1.about About Me
                h2.about My name is Avinash. I take pictures of landscape. I live in California FremontCity but I call many places home. A palm reader in India once told me I will live the life of a magical gypsy and it's important for the world that I tell the stories of the many people I encounter on my journeys. That's what I am doing.