.transform-container
  .footer
    p.footer-name AVINASH MACHAVARAPU
      p
        | California
        br
        |  Fremont
      div.icons
        <a href = "https://500px.com/greatavielite" target = "_blank"><img src = "/images/icons/500px.png"> </a>
        <a href = "https://www.instagram.com/avi.ace/" target = "_blank"><img src = "/images/icons/instagram.png"> </a>
        <a href = "https://www.linkedin.com/in/avinash-mac/" target = "_blank"><img src = "/images/icons/linkedin.png"> </a>