//
   Created by z on 6/13/17.
nav.navbar.navbar-inverse.navigationbar
    .container-fluid
        .navbar-header
            a.navbar-brand ! Avinash !
        div
            ul.nav.navbar-nav
                li.active
                    a(href='/') Home
                li
                    a(href='#AboutMe') About Me
                li
                    a(href='#Images') Images
                li
                    a(href='/files/resume.pdf', download = '') Download Resume