extends layout

block content
  .row.parallexpic
    .col-lg-12.heading
      h2.Welcome AVINASH PHOTOGRAPHY
  .container
    .image-slider
      img.images(src='/images/beach (1 of 1).jpg', alt='beach', style='max-width:100%')
      img.images(src='/images/beach_2 (1 of 1).jpg', alt='beach', style='max-width:100%')
      img.images(src='/images/nayagara_log (1 of 1).jpg', alt='nayagara', style='max-width:100%')
      img.images(src='/images/san_franscisco (1 of 1).jpg', alt='sf', style='max-width:100%')
      img.images(src='/images/santa_cruz1 (1 of 1).jpg', alt='santa_cruz', style='max-width:100%')
