body{
  background-color: black;
}
.parallexpic{
  background-image:url(https://drscdn.500px.org/photo/189425489/q%3D80_m%3D2000_k%3D1/c74c94f6f30096ef820c99ef92ce0a3b);
  background-size:cover;
  height:100vh;
  margin-right: 0px;
  margin-left: 0px;
  background-attachment: fixed;
}
.navigationbar{
  margin-bottom:0px;
}
.heading{
  top:35%;
}
.Welcome{
  color:white;
  text-align:center;
  font-size: 40px;
  font-family: AvenirNextLTPro-Regular,Arial,Helvetica;
  letter-spacing: .3rem;
}
.list-items{
  width:100%;
}
.list-flex{
  display: flex;
  flex-wrap: wrap;
}
.single-image{
  width:100%;
}
.img-box{
  padding-bottom:30px;
}
.images{
  min-width:100px;
  display: none;
}
.text-style{
  font-family: AvenirNextLTPro-Regular,Arial,Helvetica;
  font-size: 18px;
  letter-spacing: .1em;
  color:wheat;
  line-height:1.2;
  text-align: center;
}
.gallery-text{
  font-size:50px;
  font-family: AvenirNextLTPro-Regular,Arial,Helvetica;
  letter-spacing: .1em;
  line-height: 2.0;
  text-align: center;
  color:wheat;
}
.footer{
  font-family: AvenirNextLTPro-Regular,Arial,Helvetica;
  letter-spacing: .3rem;
  font-size: 1.3rem;
  line-height: 1.5;
  color:#fff;
  font-weight: 400;
  padding-top:50px;
  padding-bottom: 50px;
  text-align:center;
}
.icons img{
  width:40px;
}
#AboutMe{
  padding-top: 150px;
}
#Images{
  margin-top:150px;
}

